<div class="bg-white">
  <div class="relative sm:py-16">
    <div aria-hidden="true" class="hidden sm:block">
      <div class="absolute inset-y-0 left-0 w-1/2 bg-gray-50 rounded-r-3xl"></div>
    </div>
    <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="relative rounded-2xl px-6 py-10 bg-purple-800 overflow-hidden shadow-xl sm:px-12 sm:py-20">
        <div class="relative">
          <div class="sm:text-center">
            <h2 class="text-3xl font-bold text-white tracking-tight sm:text-4xl mb-12">How can we help you?</h2>
          </div>
          <form class="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="min-w-0 flex-1 relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <img src="../../assets/icons/search.svg">
              </div>
              <input id="cta-email" type="text" formControlName="searchInput" class="block w-full border border-transparent rounded-md pl-12 px-5 py-3 text-base text-gray-900 placeholder-white shadow-sm focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-indigo-600 bg-purple-400" placeholder="Search for answers">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
