<div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8 mb-12">
  <div class="rounded-lg bg-gray-100 overflow-hidden shadow divide-y divide-gray-200 sm:divide-y-0 sm:grid sm:grid-cols-2 sm:gap-3">
    <div *ngFor="let category of categories">
      <div class="flex items-center rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative group bg-white p-8 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
        <div class="mr-8">
          <span class="rounded-lg bg-inherit inline-flex p-3 bg-white text-teal-700 ring-4 ring-white">
            <img [src]="'../../assets/icons/'+ category.icon" alt="">
          </span>
        </div>
        <div>
          <h3 class="text-lg font-medium">
            <a [href]="'category/'+ category.id" class="focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
              {{ category.name }}
            </a>
          </h3>
          <p class="mt-2 text-sm text-gray-500">
            {{ category.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

